@import "components/banner.css" ;
@import "components/introduction.css" ;
@import "components/gallery.css" ;
@import "components/pictures.css" ;
@import "components/navigation.css";

h1 {
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 100px;
font-weight: bolder;
color: rgb(119, 100, 24);
text-justify: justify;
text-align: center;
padding-top: 100px;
box-shadow: black;
}




h2 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  color: rgb(2, 3, 29);
  text-align: center;
  margin: 0px;

}
