
.navigation {

display: flex;
opacity: 0.6;
font-size: 20px;

}

.navigation a{
  color: black;
  text-decoration: none;
}

.navOpacity {

  opacity: 1;
  font-size: 25px;
  background-color: red;

}

.main {
display: block;
}

.hidden {
  display: none;
}
